@charset "UTF-8";
.venatus-wrapper-list-728-90 {
    margin: 16px auto auto;
    width: 100%;
    min-height: 90px;
}
.venatus-wrapper-view-728-90 {
    margin: 10px auto auto;
    width: 100%;
    min-height: 90px;
}
.venatus-wrapper-view-970-90 {
    margin: 10px auto auto;
    width: 100%;
    min-height: 90px;
}